# E2B
E2B_API_KEY=your_e2b_api_key
SANDBOX_TEMPLATE=your_sandbox_template_name

MODEL_API_KEY=your_model_api_key

# MongoDB
MONGO_ENABLED=true
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=pass
MONGO_AUTH_DATABASE=admin
MONGO_DATABASE=ds_agent
MONGO_COLLECTION=llm_logs
MONGO_LOGS_TIMEOUT_MS=5000
